* *::before *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('images/heart-5106075_1280 (1).png');
    background-size: cover;
}
.shell{
    text-align: center;
}
header{
    margin-top: 2em;
}
h2{
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
    font-size: 1.2rem;
}
h3{
    color: #EEEEEE;
    font-size: 1rem;
    font-family: 'Edu QLD Beginner', cursive;
}

.primaryNav{
    /* border: 2px solid white; */
    margin-top: 2em;
    width: 100%;
    margin: auto;

}
p{
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}
ul{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    padding-top: 1em;
}
ul li{
    list-style: none;
    color: #EEEEEE ;
}
ul li a{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color:#DA1212 ;
    text-decoration: none;
}
ul li a::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 1em;
    right: .1em;
    height: 2px;
    background-color:#041562 ;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
ul li a:hover::after{
    transform: scaleX(1);
}
.form{
    margin-top: 2em;
    height: 32vh;
}
.one,.two{
    padding-block: .7em;
}
input{
    border: 0px;
    padding-inline: 2em;
    padding-block: .4em;
    border-radius: 5px;
}

footer{
    font-family: 'Roboto', sans-serif; 
    color: #EEEEEE;
}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #041562;
    padding: 5px 14px 5px 14px;
    text-decoration: none;
    margin-block: 1em;
  }
  
  .btn:hover {
    background: #DA1212;
    text-decoration: none;
  }
  .reply{
      margin-top: 2em;
  }
  .secondreply{
      padding-bottom: 3em;
      margin-top: 3em;
  }
  h1{
      color: #EEEEEE;
      font-size: 1.3rem;
  }
